<ion-content [fullscreen]="true">
  <!-- Settings -->
  <div class="absolute top-4 left-4">
    <button
      (click)="navigateToSettings()"
      class="p-2 bg-[#efede8] rounded-full hover:bg-[#dfddd8] transition-colors"
    >
      <img
        src="../../assets/emojis/gear.png"
        alt="Settings"
        width="24"
        height="24"
      />
    </button>
  </div>


  <div class="flex justify-center items-center min-h-screen dark:bg-[#374151]">
    <!-- Logo -->
    <form id="active-form" class="space-y-8 w-full p-2 box-border mb-[5rem]">
      <div class="flex justify-center mt-4">
        <div class="logo" style="transform: rotate(-15deg)">
          <span class="text-4xl font-bold text-[#1d1d1c] dark:text-white">سويتش</span>
          <div class="logo-icon"></div>
        </div>
      </div>
      <!-- Intensity -->
      <div class="mb-6">
        <h2 class="text-lg text-[#1d1d1c] font-semibold mb-3 dark:text-white">نسبة الحماس</h2>
        <div class="flex flex-wrap gap-3">
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="intensity"
              value="low"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >منخفض
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/downcast-face-with-sweat_1f613.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="intensity"
              value="mid"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >متوسط
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/face-with-raised-eyebrow_1f928.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="intensity"
              value="full"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >مرتفع
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/star-struck_1f929.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
        </div>
      </div>

      <!-- Duration -->
      <div>
        <h2 class="text-lg font-semibold mb-3 text-[#1d1d1c] dark:text-white">الوقت المتوفر</h2>
        <div class="flex flex-wrap gap-3">
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="duration"
              value="5min"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >5 دقائق
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/alarm-clock_23f0.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="duration"
              value="10min"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >10 دقائق
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/hourglass-done_231b.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
          <label class="flex-1 min-w-[150px]">
            <input
              type="radio"
              name="duration"
              value="10plus"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >+10 دقائق
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/mantelpiece-clock_1f570-fe0f.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
        </div>
      </div>

      <!-- Type -->
      <div>
        <h2 class="text-lg font-semibold mb-3 text-[#1d1d1c] dark:text-white">نوع النشاط</h2>
        <div class="flex flex-wrap gap-3">
          <label class="flex-1">
            <input
              type="radio"
              name="type"
              value="internal"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >داخلي
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/house_1f3e0.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
          <label class="flex-1">
            <input
              type="radio"
              name="type"
              value="external"
              class="custom-radio sr-only"
            />
            <span
              class="flex items-center justify-center p-2 rounded-md cursor-pointer transition-colors bg-[#efede8] text-gray-700 hover:bg-gray-200 w-full"
              >خارجي
              <img
                src="https://em-content.zobj.net/source/microsoft-teams/363/person-running_medium-light-skin-tone_1f3c3-1f3fc_1f3fc.png"
                width="20px"
                class="ms-2"
            /></span>
          </label>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center mt-8">
        <button style="display: ruby;"
          #submitBtn
          (click)="getActivity('submit')"
          id="submit-btn"
          type="submit"
          class="w-full max-w-xs px-6 py-3 bg-primary text-white rounded-md text-lg font-semibold hover:bg-primary/90 active:bg-primary/80 transition-colors"
        ></button>
      </div>
      <div class="flex justify-center mt-8">
        <button
          #randomSubmitBtn
          (click)="getActivity('random')"
          id="randSubmitBtn"
          type="submit"
          style="display: ruby;" class="outline-4 w-full max-w-xs px-6 py-3 bg-[#efede8] text-gray-700 rounded-md text-lg font-semibold hover:text-white hover:bg-primary/90 active:bg-primary/80 transition-colors"
        >
          اقترح لي عشوائيًا <img src="../../assets/emojis/sparkles.png" width="20px" class="ms-1 mb-1">
        </button>
      </div>
      <p class="text-[0.6rem] text-red-500 font-bold text-center mt-5">
        صُنع بحب : عبد الرحمن الغامدي
      </p>
    </form>
  </div>

  <svg
    style="position: fixed"
    class="bottom-0 left-0 w-full mt-8"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      class="fill-[#ffc00a]"
      fill-opacity="1"
      d="M0,32L48,53.3C96,75,192,117,288,112C384,107,480,53,576,48C672,43,768,85,864,96C960,107,1056,85,1152,90.7C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      data-darkreader-inline-fill=""
    ></path>
  </svg>
</ion-content>
